---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

[Work in progress !] Cette page est une page de test pour la réalisation d'un formulaire d'inscription aux <a href="https://www.gdr-isis.fr/index.php/reunion/490/">JIONC</a>.

<form method="get" action="">
  <fieldset>
     <legend>Présentation</legend> <!-- Titre du fieldset --> 
     <p>
        <label for="nom">Titre de la présentation</label>
        <input type="text" name="titre" id="titre">
     </p>
     <p>
        Type de présentation :
        <input type="radio" name="type" value="choixoral" id="choixoral"> <label for="choixoral">Oral</label>
        <input type="radio" name="type" value="choixposter" id="choixposter"> <label for="choixposter">Poster</label>
        <input type="radio" name="type" value="choixindifferent" id="choixindifferent"> <label for="choixindifferent">Indifférent</label>
     </p>
     <p>
        <label for="resume">Résumé de la présentation : </label>
        <textarea name="resume" id="resume" cols="100" rows="4"></textarea>
     </p>
     <p>
        Mots-clés associés à la présentation (plusieurs choix possibles) :<br>
        <input type="checkbox" name="OA" id="OA"> <label for="OA">Optique adaptative</label><br>
        <input type="checkbox" name="ImSpatiale" id="ImSpatiale"> <label for="ImSpatiale">Imagerie Spatiale</label><br>
        <input type="checkbox" name="ImBio" id="ImBio"> <label for="ImBio">Imagerie pour la biologie</label><br>
        <input type="checkbox" name="Pola" id="Pola"> <label for="Pola">Imagerie Polarisée</label><br>
        <input type="checkbox" name="Holographie" id="Holographie"> <label for="Holographie">Holographie</label>
        <input type="checkbox" name="Traitement" id="Traitement"> <label for="Traitement">Traitement d'images</label>
        <input type="checkbox" name="Coco" id="Coco"> <label for="Coco">Co-conception</label><br>
        <input type="checkbox" name="PbInv" id="PbInv"> <label for="PbInv">Problèmes inverses</label>
    </p>
  </fieldset>
  <fieldset>
      <legend>A propos de l'orateur/du présentateur</legend> <!-- Titre du fieldset --> 
      <p>
      <label for="nomorateur">Nom :</label>
      <input type="text" name="nomorateur" id="prenomorateur">
      <label for="prenomorateur">Prénom :</label>
      <input type="text" name="prenomorateur" id="prenomorateur">
      <label for="email">E-mail :</label>
      <input type="email" name="email" id="email">
      </p>
      <p>
        Statut :
        <input type="radio" name="statut" value="doc1A" id="doc1A"> <label for="doc1A">Doctorant 1A</label>
        <input type="radio" name="statut" value="doc2A" id="doc2A"> <label for="doc2A">Doctorant 2A</label>
        <input type="radio" name="statut" value="doc3A" id="doc3A"> <label for="doc3A">Doctorant 3A</label>
        <input type="radio" name="statut" value="autreacademique" id="autreacademique"> <label for="autreacademique">Autre académique</label>
        <input type="radio" name="statut" value="autre" id="autre"> <label for="autre">Autre...</label>
     </p>
     <p>
        Précédente édition des JIONC :
        <input type="radio" name="precedent" value="oralprecedent" id="oralprecedent"> <label for="oralprecedent">Oral</label>
        <input type="radio" name="precedent" value="posterprecedent" id="posterprecedent"> <label for="posterprecedent">Poster</label>
        <input type="radio" name="precedent" value="rienprecedent" id="rienprecedent"> <label for="rienprecedent">Aucun</label>
     </p>
  </fieldset>
  <fieldset>
     <legend>Auteur et co-auteurs</legend> <!-- Titre du fieldset -->
     <p>
     <input type="text" name="nomauteur1" id="nomauteur1">
     <label for="nomauteur1"><b>Auteur 1 -</b> Nom :</label>
     <input type="text" name="prenomauteur1" id="prenomauteur1">
     <label for="prenomauteur1">Prénom :</label>
     <label for="affil1">Affiliation :</label><br>
        <select name="affil1" id="affil1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
     </p>
     <p>
     <input type="text" name="nomauteur2" id="nomauteur2">
     <label for="nomauteur2"><b>Auteur 2 -</b> Nom :</label>
     <input type="text" name="prenomauteur2" id="prenomauteur2">
     <label for="prenomauteur2">Prénom :</label>
     <label for="affil2">Affiliation :</label><br>
        <select name="affil2" id="affil2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
     </p>
  </fieldset>
    <fieldset>
     <legend>Affiliations</legend> <!-- Titre du fieldset -->
     <input type="text" name="nomaffil1" id="nomaffil1">
     <label for="nomaffil1">Affiliation 1 :</label>
  </fieldset>
</form>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

