---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I am a part-time teacher at the <a href="https://www.institutoptique.fr/en">Institut d'Optique Graduate School</a>.

Currently, I teach tutorials (in french) on : 

<ul type="disc">
  <li><b><a href="http://lense.institutoptique.fr/optique-instrumentale-s5/">Instrumental optic</a></b> (Course instructor: <a href="https://scholar.google.com/citations?user=w2m9LKJdJhgC&hl=fr&oi=ao">Sébastien de Rossi</a>): The course is about image formation in optical instruments, limited to paraxial optics. It defines the geometrical limitations in the instruments (aperture, field, resolution) and provides elements of energetic and visual photometry.</li>
  <li><b><a href="https://ptrouve.github.io/teaching/2014-spring-teaching-1">Introduction to Co-design</a></b> (Course instructor: <a href="https://ptrouve.github.io/">Pauline Trouvé-Peloux</a>): The lectures and workshops are dedicated to introduction to the student of the joint design of optical and processing part of an imaging system.</li>
  <li><b><a href="https://synapses.institutoptique.fr/catalogue/2021-2022/ue/158/8P-180-PHO-traitement-d-images-electif">Digital image processing</a></b> (Course instructor: <a href="http://hebergement.u-psud.fr/caroline.kulcsar/">Caroline Kulcsár</a>): This course introduces the basics of digital image processing (formation of a digital image, digital image manipulation, image filtering, compression of information in an image, inverse problems and deconvolution, image representations).</li> 
</ul>

Formerly (between 2019 and 2022), I also taught tutorials on : 

<ul type="disc">
  <li><b><a href="https://synapses.institutoptique.fr/catalogue/2021-2022/ue/74/6N-074-SCI-traitement-du-signal">Signal processing</a></b> (Course instructor: <a href="https://scholar.google.com/citations?user=H8_qrjQAAAAJ&hl=fr">François Goudail</a>): The course introduces methods for extracting information from a signal in an optimal way. It presents the basic methods of signal estimation, detection and restoration. It also covers the basic concepts of information theory; these concepts are then applied to the field of digital signal modulation. The course is accompanied by tutorials and two practical computer sessions dealing with the problem of image deconvolution.</li>
</ul>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->


